{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    <div id="latest-posts">
        {% for article in articles_page.object_list %}
            <article class="post post-preview">
                <div class="post-info">
                    <span class="date">{{ article.locale_date }}</span>
                    <h2 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                </div>
                <div class="post-short-desc">
                    {{ article.summary }}
                </div>
            </article>
{#            {% if loop.last %}#}
{#                {% if loop.length > 1 %}#}
{#                    </ol><!-- /#posts-list -->#}
{#                {% endif %}#}
{#                {% if articles_page.has_previous() or loop.length > 1 %}#}
{#                    {% include 'pagination.html' %}#}
{#                {% endif %}#}
{#                {% if loop.length > 1 %}#}
{#                    </section><!-- /#content -->#}
{#                {% endif %}#}
{#            {% endif %}#}
        {% endfor %}
    </div>
{% endblock content %}
